fabm-git*
glm
glm-aed
glm-egs
glm-manual
glm-tests
libutil*
libplot
libaed2
*.tar.gz
*.diff
win-bin
ubuntu
macos
.*.swp
**/CMakeCache.txt
**/CMakeFiles
*/cmake_install.cmake
install_manifest.txt
.DS*
